<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Handwritten Text Recognition</title>
  <link rel="stylesheet" href="static/htr.css">
</head>

<body>
 <div class="login">
    <ul>
        <li><a class="active" href="http://127.0.0.1:5000/">Home</a></li>
        <li ><a href="http://127.0.0.1:5000/speech_recognition">Speech</a></li>
        <li><a href="http://127.0.0.1:5000/htr_recognition">HTR</a></li>
        <li><a href="http://127.0.0.1:5000/htr_recognition">Sign Language</a></li>
      </ul>
	<h1>Recognise Handwritten Text</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('htr_recognition_predict')}}" method="post" enctype="multipart/form-data">
    	<input type="file" id="file" name="file" accept="image/*">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>

 </div>


</body>
</html>