<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Speech Recognition</title>
  <!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   -->
</head>

<body>
 <div class="login">
	<h1>Recognise speech</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('speech_recognition')}}"method="post">
    	<!-- <input type="file" id="avatar" name="avatar" accept="audio/*"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Speech</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>