<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Speech Recognition</title>
<link rel="stylesheet" href="static/index.css">
  
</head>

<body>
 <div class="login">
  <ul>
    <li><a class="active" href="http://127.0.0.1:5000/">Home</a></li>
    <li ><a href="http://127.0.0.1:5000/speech_recognition">Speech</a></li>
    <li><a href="http://127.0.0.1:5000/htr_recognition">HTR</a></li>
    <li><a href="http://127.0.0.1:5000/htr_recognition">Sign Language</a></li>
  </ul>
	<h1>SENSES</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('speech_recognition')}}"method="post">
    	<!-- <input type="file" id="avatar" name="avatar" accept="audio/*"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Speech to Text Translation</button>
    </form>
    <form action="{{ url_for('htr_recognition')}}"method="post">
    	<!-- <input type="file" id="avatar" name="avatar" accept="audio/*"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Handwritten Text Recognition</button>
    </form>
    <form action="{{ url_for('speech_recognition')}}"method="post">
    	<!-- <input type="file" id="avatar" name="avatar" accept="audio/*"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign Language Recognition</button>
    </form>
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>